.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fffefe;
    border-radius: 6px;
    padding: 4px;
    & .input-component {
        width: 100%;
    }
    & .btn {
        width: 20%;
        border: none;
        background-color: #409eff;
        color: #333;
        font-size: 16px;
        font-weight: 700;
        border-radius: 6px;
        padding: 10px 8px;
        cursor: pointer;
    }
}
